<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src ="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <title>배열</title>
    </head>
    <body>
        <div id="app">
            <h3>배열 데이터를 리스트로 표시하기</h3>
            <ul>
                <li v-for="item in myArray">{{item}}</li>
            </ul>
            <h3>배열 데이터와 인덱스를 리스트로 표시하기</h3>
            <ul>
                <li v-for="(item, index) in myArray">{{index}}:{{item}}</li>
            </ul>

            <h3>오브젝트 배열 데이터를 리스트로 표시하기</h3>
            <ul>
                <li v-for="item in objArray">{{item.name}}는 {{item.price}} 원입니다.</li>
            </ul>
            <h3>반복 예제</h3>
            <ul>
                <li v-for="item in myArray">{{item}}</li>
            </ul>

        </div>
        <script>
            new Vue({
                el:'#app',
                data:{
                    myArray: ['사과','바나나','딸기'],
                    objArray : [
                    {name:'사과',price:5000},
                    {name:'바나나',price:7000},
                    {name:'딸기',price:12000}
                    ]
                }
            })
        </script>
    </body>
</html>